<script src="../main/main.component.ts"></script>
<div (cdkDropListDropped)="ds.linkDropped($event)"
     [ngStyle]="styleForGrid"
     cdkDropList
     cdkDropListSortingDisabled
     content>
  <!--div (cdkDragStarted)="ds.dragstart($event)"
       *ngFor="let link of globals.links"
       [cdkDragData]="link"
       [cdkDragDisabled]="globals.appMode!='edit'"
       cdkDrag
       id="link-{{link.index}}"
       style="transform:scale(1.0)">
    <app-link-card [link]="link" type="grid"></app-link-card>
  </div -->
  <app-link-card
    *ngFor="let link of globals.links"
    [link]="link"
    type="grid"></app-link-card>
</div>
<div *ngIf="ds.trashOpen" trash>
  <mat-icon>delete</mat-icon>
</div>
