[mat-dialog-title] {
  background-color: var(--settingsHeaderBack);
  color: var(--settingsHeaderFore);
}

mat-dialog-content {
  display: flex;
  flex-flow: column;
  color: var(--settingsBodyFore);
  background-color: var(--settingsBodyBack);
}

:host {
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--settingsBodyFore);
  }

  ::ng-deep .mat-form-field.mat-primary .mat-select-arrow {
    color: var(--settingsBodyFore);
  }

  [select] {
    ::ng-deep .mat-form-field-underline,
    ::ng-deep .mat-form-field-subscript-wrapper {
      display: none
    }
  }

  ::ng-deep mat-dialog-actions {
    background-color: var(--settingsHeaderBack);

    .mat-button-wrapper {
      color: var(--settingsHeaderFore);
    }
  }

  ::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--settingsHeaderBack);
  }
}

mat-input {
  ::ng-deep .focused-underline {
    background: var(--settingsHeaderBack);
  }

  ::ng-deep .focused.label-text {
    color: var(--settingsHeaderBack);
  }
}

[children] {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  flex: 1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.2em;
  border-radius: 0.5em;
  min-height: 3em;

  app-link-card {
    display: flex;
    align-items: center;
  }

  button {
    align-self: center;
    overflow: hidden;
    min-width: 1em;

    [shortlabel] {
      line-height: 1em;
      font-size: 0.5em;
    }
  }

  img {
    width: 24px;
  }

  app-link-card {
    align-self: stretch;
  }
}

[line] {
  display: flex;
  flex-flow: row;

  mat-form-field {
    flex-shrink: 0;
    flex-grow: 1;
  }
}
