<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.edit-link">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      <img (error)="globals.noImage($event)" *ngIf="data.children==null" [src]="data.iconUrl" alt="favicon">
      <mat-icon *ngIf="data.children!=null">folder</mat-icon>
      {{dialogTitle}}
    </h1>
    <div>
      <button (click)="clickCancel($event)"
              mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <div *ngIf="data.children == null" line>
      <div column>
        <mat-form-field>
          <mat-label i18n>Url</mat-label>
          <input [(ngModel)]="data.url" [autofocus]="data.url == null" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label i18n>Icon-Url</mat-label>
          <input [(ngModel)]="data.iconUrl" matInput>
        </mat-form-field>
      </div>
      <button (click)="clickFetchIcon($event)" mat-flat-button>Fetch Icon</button>
    </div>
    <mat-form-field>
      <mat-label i18n>Label</mat-label>
      <input (focus)="onLabelFocus($event)" [(ngModel)]="data.label" [autofocus]="data.url!=null||data.children!=null" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Short Label</mat-label>
      <input [(ngModel)]="data.shortLabel" matInput maxlength="15">
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Info</mat-label>
      <textarea [(ngModel)]="data.info" matInput></textarea>
    </mat-form-field>
    <div *ngIf="data.children != null" children>
      <app-link-card *ngFor="let child of data.children"
                     [link]="child"
                     dragDisabled="true"
                     mode="icon"></app-link-card>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div>
      <button (click)="clickDelete($event)" mat-flat-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="clickClone($event)" mat-flat-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <button (click)="clickSave($event)" mat-flat-button>
      <mat-icon>save</mat-icon>
      <div i18n="buttonlabel for saving data">Save</div>
    </button>
  </mat-dialog-actions>
</div>
