<script src="../main/main.component.ts"></script>
<div (dragover)="allowDrop($event)"
     (mousedown)="onMouseDown($event)"
     (mousemove)="onMouseMove($event)"
     (mouseup)="onMouseUp($event)"
     (touchend)="onTouchEnd($event)"
     (touchmove)="onTouchMove($event)"
     (touchstart)="onTouchStart($event)"
     back>
  <div [ngStyle]="styleForContent" content>
    <app-drag-queen (ondrop)="onDrop($event)"
                    *ngFor="let link of globals.links"
                    [data]="link"
                    [draggable]="globals.appMode==='edit'"
                    [isDebug]="globals.isDebug"
                    [scale]="scale"
                    [x]="link.x"
                    [y]="link.y"
                    class="drag"
                    id="link-{{link.index}}">
      <app-link-card [link]="link"></app-link-card>
    </app-drag-queen>
  </div>
  <div *ngIf="ds.trashOpen" trash>
    <mat-icon>delete</mat-icon>
  </div>
</div>
