<div cdkDrag cdkDragBoundary=".cdk-overlay-container"
     cdkDragRootElement=".dialog-box.config-link">
  <div cdkDragHandle mat-dialog-title>
    <h1>
      <button (click)="clickIcon($event)" mat-flat-button>
        <img (error)="globals.noImage($event)" *ngIf="data.children==null" [src]="data.favicon" alt="favicon">
        <mat-icon *ngIf="data.children!=null">folder</mat-icon>
      </button>
      {{orgData.l}}
    </h1>
    <div>
      <button (click)="clickCancel($event)"
              mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <mat-dialog-content>
    <mat-form-field *ngIf="data.children == null">
      <mat-label i18n>Url</mat-label>
      <input [(ngModel)]="data.url" [autofocus]="data.url == null" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Label</mat-label>
      <input (focus)="onLabelFocus($event)" [(ngModel)]="data.label" [autofocus]="data.url!=null||data.children!=null" matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label i18n>Info</mat-label>
      <textarea [(ngModel)]="data.info" matInput></textarea>
    </mat-form-field>
    <div *ngIf="data.children != null" children>
      <app-link-card *ngFor="let child of data.children" [link]="child"></app-link-card>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <div>
      <button (click)="clickDelete($event)" mat-flat-button>
        <mat-icon>delete</mat-icon>
      </button>
      <button (click)="clickClone($event)" mat-flat-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
    <button (click)="clickSave($event)" mat-flat-button>
      <mat-icon>save</mat-icon>
      <div i18n="buttonlabel for saving data">Save</div>
    </button>
  </mat-dialog-actions>
</div>
