<ng-template #icon let-callLink="callLink">
  <div (click)="clickIcon($event, link, callLink)">
    <img (error)="globals.noImage($event)" *ngIf="link.children==null" [src]="link.iconUrl" alt="favicon">
    <mat-icon *ngIf="link.children!=null">
      {{folderIcon}}
    </mat-icon>
  </div>
</ng-template>
<ng-template #footer>
  <ng-container *ngIf="link.children == null">
    <div *ngIf="link.lastUsed != null">{{Utils.fmtDate(link.lastUsed)}}</div>
    <div *ngIf="link.lastUsed == null" i18n>never visited</div>
  </ng-container>
</ng-template>
<ng-template #children>
  <div *ngIf="link.children != null" [class]="classForChildren(link)">
    <app-link-card *ngFor="let child of link.children"
                   [link]="child"
                   [mode]="link.isOpen?'full':'icon'"></app-link-card>
    <ng-container *ngIf="globals.appMode==='edit'">
      <button (click)="clickAdd($event, link)" class="add" mat-flat-button>
        <mat-icon>note_add</mat-icon>
      </button>
    </ng-container>
  </div>
</ng-template>

<div (cdkDragStarted)="ds.dragstart($event)"
     (mouseout)="ds.mouseout($event)"
     (mouseover)="ds.mouseover($event)"
     [cdkDragData]="link"
     [cdkDragDisabled]="_dragDisabled"
     [class]="classForDrag"
     cdkDrag
     id="link-{{link.uniqueId}}">
  <ng-container [ngSwitch]="mode">
    <div *ngSwitchCase="'icon'" class="dragbase icon">
      <button (click)="clickLink($event, link)" mat-flat-button>
        <ng-container [ngTemplateOutletContext]="{callLink:true}" [ngTemplateOutlet]="icon"></ng-container>
      </button>
      <div iconlabel>{{link.label}}
        <div info>{{link.info}}</div>
      </div>
    </div>
    <ng-container *ngSwitchCase="'full'">
      <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="'card'">
          <mat-card (click)="clickLink($event, link)" class="dragbase" linkcard>
            <mat-card-header>
              <mat-card-title>
                <ng-container [ngTemplateOutletContext]="{callLink:false}" [ngTemplateOutlet]="icon"></ng-container>
                <span [innerHTML]="link.label" label></span>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div>{{link.info}}</div>
              <ng-container [ngTemplateOutlet]="children"></ng-container>
            </mat-card-content>
            <ng-container *ngIf="globals.appMode==='edit'">
              <mat-card-footer>
                <div>
                  <ng-container *ngTemplateOutlet="footer"></ng-container>
                </div>
              </mat-card-footer>
            </ng-container>
          </mat-card>
        </ng-container>
        <ng-container *ngSwitchCase="'grid'">
          <div (click)="clickLink($event, link)" class="dragbase" grid linkcard>
            <div header>
              <ng-container *ngTemplateOutlet="icon"></ng-container>
              <span [innerHTML]="link.label" label></span>
              <div tools>
                <button (click)="clickOpenAll($event)" *ngIf="mayOpenAll" mat-flat-button>
                  <mat-icon>directions_run</mat-icon>
                </button>
              </div>
            </div>
            <div content>
              <div>{{link.info}}</div>
              <ng-container [ngTemplateOutlet]="children"></ng-container>
            </div>
            <ng-container *ngIf="globals.appMode==='edit'">
              <div footer>
                <ng-container *ngTemplateOutlet="footer"></ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <div *ngIf="globals.isDebug" unique>uid{{link.uniqueId}}</div>
  <div class="icono-arrow2-left"></div>
  <div class="icono-arrow2-right"></div>
</div>
