<div [class]="classForMainpanel" mainpanel>
  <div toolbar>
    <div [ngSwitch]="globals.appMode">
      <ng-container *ngSwitchCase="'edit'">
        <button (click)="clickSave($event)" mat-flat-button>
          <mat-icon>save</mat-icon>
        </button>
        <button (click)="clickAdd($event)" mat-flat-button>
          <mat-icon>add</mat-icon>
        </button>
        <button (mouseout)="mouseoutDelete($event)" (mouseover)="mouseoverDelete($event)" mat-flat-button>
          <mat-icon id="link-delete">delete</mat-icon>
        </button>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <button (click)="globals.appMode='edit'" mat-flat-button>
          <mat-icon>edit</mat-icon>
        </button>
      </ng-container>
    </div>
    <div>
      <button (click)="clickView($event)" mat-flat-button>
        <mat-icon>{{iconForView}}</mat-icon>
      </button>
      <button (click)="clickDebug($event)" *ngIf="globals.mayDebug" class="debug" mat-icon-button>
        <mat-icon>{{globals.isDebug ? 'pest_control' : 'bug_report'}}</mat-icon>
      </button>
      <button (click)="sync.toggleSyncDropbox()" id="sync" mat-icon-button>
        <ng-container *ngIf="!sync.hasSync">
          <mat-icon>sync_disabled</mat-icon>
        </ng-container>
        <ng-container *ngIf="sync.hasSync">
          <img alt="dropbox" src="../../../assets/images/dropbox.png">
        </ng-container>
      </button>
    </div>
  </div>
  <ng-container [ngSwitch]="globals.viewMode">
    <app-view-world *ngSwitchCase="'world'"></app-view-world>
    <app-view-flex *ngSwitchCase="'flex'"></app-view-flex>
  </ng-container>
</div>
<app-progress></app-progress>
<div hidden id="mark"></div>
